### NORTHWIND DATABASE ANALYSIS USING JUPYTER  & SQL

The Northwind database is a sample database that was originally created by Microsoft to demonstrate the features of its products, particularly Microsoft Access. It is often used as a sample database in educational settings, tutorials, and examples for learning and practicing database concepts.
The Northwind database represents a fictional company and contains tables for customers, orders, products, employees, and other entities typically found in a business environment. It's a relational database, and its structure is designed to showcase various aspects of database design and querying.

#### Objectives

Using this classic database we shall learn how to use String functions, Aggregations, CASE, Subquery, Window functions, CTEs, Views, Temporary Tables, and finally some Data Analysis.

In [1]:
# Load and activate the SQL extension to allow us to execute SQL in a Jupyter notebook.
%load_ext sql

In [2]:
# Establish a connection to a SQLite database file.
%sql sqlite:///Northwind.db

'Connected: @Northwind.db'

### String Functions

#### 1. Use CONCAT(), LOWER() to create a new column Email

In SQLite, the CONCAT function is not directly available. Instead, you can use the concatenation operator (||). Concatenate joins multiple strings together. Lower() & UPPER() converts string to lowercase and uppercase respectively.

In [3]:
%%sql

SELECT
    FirstName,
    LastName,
    LOWER(FirstName)||'.'|| LOWER(LastName) || '@northwind.com' AS Email
FROM Employees
LIMIT 5;

 * sqlite:///Northwind.db
Done.

[('Nancy', 'Davolio', 'nancy.davolio@northwind.com'),
 ('Andrew', 'Fuller', 'andrew.fuller@northwind.com'),
 ('Janet', 'Leverling', 'janet.leverling@northwind.com'),
 ('Margaret', 'Peacock', 'margaret.peacock@northwind.com'),
 ('Steven', 'Buchanan', 'steven.buchanan@northwind.com')]

#### 2. Assume we want to send our customers promotional text messages.

We shall create a new column from the Phone column in the Customers table where we remove characters like (, ), -, ., and spaces. You can achieve this by using the REPLACE function multiple times.

In [4]:
%%sql

SELECT
    Phone,
    REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(Phone, '(',''), ')', ''), '-', ''), '.', ''), ' ', '') AS New_number
FROM Customers
LIMIT 10;

 * sqlite:///Northwind.db
Done.

[('030-0074321', '0300074321'),
 ('(5) 555-4729', '55554729'),
 ('(5) 555-3932', '55553932'),
 ('(171) 555-7788', '1715557788'),
 ('0921-12 34 65', '0921123465'),
 ('0621-08460', '062108460'),
 ('88.60.15.31', '88601531'),
 ('(91) 555 22 82', '915552282'),
 ('91.24.45.40', '91244540'),
 ('(604) 555-4729', '6045554729')]

#### 3. Suppose we want to extract the first two characters from the QuantityPerUnit column , we use SUBSTR() function.

The below query extracts the first two characters of the QuantityPerUnit column and assigns it to a new column named 'Units@package'.

In [5]:
%%sql
SELECT
      QuantityPerUnit,
      SUBSTR(QuantityPerUnit,1,2) as 'Units@package'
FROM Products
LIMIT 5;

 * sqlite:///Northwind.db
Done.

[('10 boxes x 20 bags', '10'),
 ('24 - 12 oz bottles', '24'),
 ('12 - 550 ml bottles', '12'),
 ('48 - 6 oz jars', '48'),
 ('36 boxes', '36')]

### Aggregations

#### 1. Total numbers of orders

In [6]:
%%sql

SELECT 
      COUNT(*) as Total_orders
    
FROM Orders

 * sqlite:///Northwind.db
Done.

[(830,)]

#### 2. Customer with the most orders

In [7]:
%%sql

SELECT 
      CompanyName,
      COUNT(*) as Total_orders
        
FROM Orders O
JOIN Customers C
ON O.CustomerID = C.CustomerID
GROUP BY 1
ORDER BY 2 DESC
LIMIT 5;

 * sqlite:///Northwind.db
Done.

[('Save-a-lot Markets', 31),
 ('Ernst Handel', 30),
 ('QUICK-Stop', 28),
 ('Hungry Owl All-Night Grocers', 19),
 ('Folk och f HB', 19)]

#### 3. Average unit price of products in each category.

Query calculates the average unit price for each category and rounding the result to two decimal places. The JOIN clause combines the Products and Categories tables based on the CategoryID, and then the GROUP BY clause groups the results by CategoryName. The AVG function calculates the average unit price for each category, and the ROUND function ensures that the result is rounded to two decimal places. Finally, the ORDER BY clause orders the results in descending order based on the average unit price.

In [8]:
%%sql

SELECT
      C.CategoryName,
      ROUND(AVG(UnitPrice),2) as AVG_unit_price
        
FROM Products P
JOIN Categories C
ON P.CategoryID = C.CategoryID
GROUP BY 1
ORDER BY 2 DESC

 * sqlite:///Northwind.db
Done.

[('Meat/Poultry', 54.01),
 ('Beverages', 37.98),
 ('Produce', 32.37),
 ('Dairy Products', 28.73),
 ('Confections', 25.16),
 ('Condiments', 23.06),
 ('Seafood', 20.68),
 ('Grains/Cereals', 20.25)]

#### 4. Customer with the highest total order amount.

The query calculates the total amount for each customer and orders the results by the total amount in descending order. The LIMIT 5 ensures that you only get the top 5 results.I used SUM to calculate the total amount for each customer, assuming that you want the total amount for all orders of each customer. Additionally, I wanted to remove the decimal part and obtain the integer value without rounding, I used the CAST function.

In [9]:
%%sql

SELECT 
      C.CompanyName,
      CAST(SUM(OD.UnitPrice * OD.Quantity) AS INT) AS Total_amount

FROM Customers C
JOIN Orders O
ON O.CustomerID = C.CustomerID
JOIN OrderDetails OD
ON O.OrderID = OD.OrderID
GROUP BY 1
ORDER BY 2 DESC
LIMIT 5;

 * sqlite:///Northwind.db
Done.

[('QUICK-Stop', 117483),
 ('Save-a-lot Markets', 115673),
 ('Ernst Handel', 113236),
 ('Hungry Owl All-Night Grocers', 57317),
 ('Rattlesnake Canyon Grocery', 52245)]

#### SUBQUERIES

######  Basic Subqueries

#### 1. Products with a price higher than the average price

The subquery (SELECT AVG(UnitPrice) FROM Products) calculates the average unit price for all products.
The main query selects the ProductName and UnitPrice for products where the UnitPrice is higher than the average price obtained from the subquery.

In [10]:
%%sql

SELECT
      AVG(UnitPrice) as Avg_unit_price
FROM Products;

 * sqlite:///Northwind.db
Done.

[(28.866363636363637,)]

In [11]:
%%sql

SELECT
      ProductName,
      UnitPrice
        
FROM Products
WHERE UnitPrice >  (SELECT
                           AVG(UnitPrice) 
                     FROM Products)
ORDER BY 2 DESC
LIMIT 10;

 * sqlite:///Northwind.db
Done.

[('Cte de Blaye', 263.5),
 ('Thringer Rostbratwurst', 123.79),
 ('Mishi Kobe Niku', 97),
 ("Sir Rodney's Marmalade", 81),
 ('Carnarvon Tigers', 62.5),
 ('Raclette Courdavault', 55),
 ('Manjimup Dried Apples', 53),
 ('Tarte au sucre', 49.3),
 ('Ipoh Coffee', 46),
 ('Rssle Sauerkraut', 45.6)]

#### 2.  Employees who have a salary greater than the average salary.

The query will give you a list of employees with their names and 
salaries where the salary is higher than the average salary, ordered by salary in descending order.

In [12]:
%%sql

SELECT
      LastName||' '||FirstName as Name,
      Salary
        
FROM Employees
WHERE Salary > (SELECT 
                      AVG(Salary)
                FROM Employees)
ORDER BY 2 DESC;

 * sqlite:///Northwind.db
Done.

[('Leverling Janet', 3119.15),
 ('Davolio Nancy', 2954.55),
 ('Dodsworth Anne', 2333.33)]

###### Correlated Subqueries:

A correlated subquery is a subquery that references one or more columns from the outer query. Unlike a non-correlated subquery, which is independent of the outer query, a correlated subquery depends on the values from the outer query.

We shall also use **Temporary tables**, a temporary table in SQL is a table that exists temporarily for the duration of a session or a transaction. It is typically used to store intermediate results that you need to reuse within the context of a specific session or transaction. They are useful when you need to store intermediate results, perform complex calculations, or break down a complex query into more manageable parts.

#### 1. Employees who have sales higher than the average sales of their respective country.

In [13]:
%%sql

-- Create a temporary table with the calculated total sales
CREATE TEMPORARY TABLE IF NOT EXISTS TempOrderDetails AS
SELECT
    E.EmployeeID,
    FirstName||' '||LastName as Name,
    E.Country,
    OD.UnitPrice * OD.Quantity AS TotalSales

FROM Employees E    
JOIN Orders O
ON E.EmployeeID = O.EmployeeID
JOIN OrderDetails OD 
ON O.OrderID = OD.OrderID;

-- Query using the temporary table with a correlated subquery
SELECT
      Name,
      T.Country,
      SUM(TotalSales)

FROM TempOrderDetails T
GROUP BY 1,2
HAVING SUM(TotalSales) > (SELECT 
                                average_sale
                          FROM (SELECT
                                      AVG(TotalSales) average_sale
                          FROM TempOrderDetails TI
                           WHERE TI.Country = T.Country));

 * sqlite:///Northwind.db
Done.
Done.

[('Andrew Fuller', 'USA', 177749.26000000004),
 ('Anne Dodsworth', 'UK', 82963.99999999999),
 ('Janet Leverling', 'USA', 213051.29999999996),
 ('Laura Callahan', 'USA', 133301.02999999997),
 ('Margaret Peacock', 'USA', 250187.44999999992),
 ('Michael Suyama', 'UK', 78198.09999999999),
 ('Nancy Davolio', 'USA', 202143.71000000002),
 ('Robert King', 'UK', 141295.99),
 ('Steven Buchanan', 'UK', 75567.75000000001)]

A temporary table named TempOrderDetails was created to store the calculated total sales for each employee and the employee Id, name and country.
The calculation of total sales is performed once and stored in the temporary table. Subsequent queries can refer to this table without repeating the same computations.
The use of the temporary table enhances code readability, avoids redundant computations, and facilitates the reuse of intermediate results in a structured manner. It's a helpful technique, especially when dealing with multi-step analyses or complex data transformations.

#### 3. Customers who have placed orders with a total amount less than the average order amount for their country.

In [14]:
%%sql

WITH Countries_total_orders AS
(SELECT 
      C.CompanyName,
      C.Country,
      SUM(OD.UnitPrice * OD.Quantity) AS Total_amount

FROM Customers C
JOIN Orders O
ON O.CustomerID = C.CustomerID
JOIN OrderDetails OD
ON O.OrderID = OD.OrderID
GROUP BY 1)

SELECT
      CompanyName,
      CTO.Country,
      ROUND(SUM(Total_amount)) as Total_order_amt
FROM Countries_total_orders CTO
GROUP BY 1
HAVING SUM(Total_amount) < (SELECT average_sales
                           FROM
                           (SELECT
                                  AVG(Total_amount) average_sales
                            FROM Countries_total_orders CTOI
                            WHERE CTO.Country = CTOI.Country))
ORDER BY 2 DESC
LIMIT 10;

 * sqlite:///Northwind.db
Done.

[('GROSELLA-Restaurante', 'Venezuela', 1489.0),
 ("Trail's Head Gourmet Provisioners", 'USA', 1571.0),
 ('The Cracker Box', 'USA', 1947.0),
 ('The Big Cheese', 'USA', 3361.0),
 ('Split Rail Beer & Ale', 'USA', 12490.0),
 ('Old World Delicatessen', 'USA', 16325.0),
 ('Lonesome Pine Restaurant', 'USA', 4259.0),
 ("Let's Stop N Shop", 'USA', 3490.0),
 ('Lazy K Kountry Store', 'USA', 357.0),
 ('Hungry Coyote Import Store', 'USA', 3063.0)]

The query is using a **Common Table Expression (CTE)** named Countries_total_orders to calculate the total amount of orders for each customer's country. Then, the main query is using this CTE to filter and aggregate the results, specifically selecting companies whose total order amounts are less than the average total order amount for their respective countries.

The use of the WITH clause defines the CTE, and the main query then references and utilizes the results from the CTE.

The use of a correlated subquery is evident in the HAVING clause.
The subquery is correlated because it references the outer query's table CTO in the WHERE clause. Specifically, it's comparing the country of the current row in the outer query (CTO.Country) with the country of the rows in the inner query (CTOI.Country). This correlation establishes a relationship between the outer and inner queries.

The purpose of this correlated subquery is to calculate the average total amount of orders for the same country as the current row in the outer query. The HAVING clause then uses this correlated subquery to filter out the results, ensuring that only companies with total order amounts less than the average for their respective countries are included.

In summary, the correlated subquery helps conditionally filter the aggregated results in the HAVING clause based on the values of the current row in the outer query.

### CTE

A Common Table Expression (CTE) is a temporary result set that you can reference within a SELECT, INSERT, UPDATE, or DELETE statement. CTEs provide a way to define named temporary result sets in a SQL query, making complex queries more readable and manageable.

 #### Using a CTE, find the total sales for each category of products.

In [15]:
%%sql

WITH Product_category_sales AS 
(SELECT
      C.CategoryName,
      OD.UnitPrice,
      OD.Quantity,
      (OD.UnitPrice * OD.Quantity) as Sales
 
FROM orderDetails OD
JOIN Products P
ON P.ProductID = OD.ProductID
JOIN Categories C
ON C.CategoryID = P.CategoryID)

SELECT
      CategoryName,
      ROUND(SUM(Sales),2) as Total_sales

FROM Product_category_sales
GROUP BY 1
ORDER BY 2 DESC;

 * sqlite:///Northwind.db
Done.

[('Beverages', 286526.95),
 ('Dairy Products', 251330.5),
 ('Meat/Poultry', 178188.8),
 ('Confections', 177099.1),
 ('Seafood', 141623.09),
 ('Condiments', 113694.75),
 ('Produce', 105268.6),
 ('Grains/Cereals', 100726.8)]

#### CTE to show the monthly sales growth over time

In [16]:
%%sql

WITH Salestotals_overtime AS 
(    
SELECT
    O.OrderDate,
    C.CategoryName,
    OD.UnitPrice,
    OD.Quantity,
    (OD.UnitPrice * OD.Quantity) as Sales
    
FROM Orders O
JOIN orderDetails OD 
ON O.OrderID = OD.OrderID
JOIN Products P 
ON P.ProductID = OD.ProductID
JOIN Categories C 
ON C.CategoryID = P.CategoryID
)

SELECT
    strftime('%Y', OrderDate) AS Year,
    strftime('%m', OrderDate) AS Month,
    ROUND(SUM(Sales),2) AS TotalSales
    
FROM Salestotals_overtime
GROUP BY 1,2
ORDER BY 1,3;

 * sqlite:///Northwind.db
Done.

[('1996', '08', 26609.4),
 ('1996', '09', 27636.0),
 ('1996', '07', 30192.1),
 ('1996', '10', 41203.6),
 ('1996', '11', 49704.0),
 ('1996', '12', 50953.4),
 ('1997', '06', 39088.0),
 ('1997', '03', 39979.9),
 ('1997', '02', 41207.2),
 ('1997', '11', 45913.36),
 ('1997', '08', 49981.69),
 ('1997', '07', 55464.93),
 ('1997', '04', 55699.39),
 ('1997', '05', 56823.7),
 ('1997', '09', 59733.02),
 ('1997', '01', 66692.8),
 ('1997', '10', 70328.5),
 ('1997', '12', 77476.26),
 ('1998', '05', 19898.66),
 ('1998', '01', 100854.72),
 ('1998', '02', 104561.95),
 ('1998', '03', 109825.45),
 ('1998', '04', 134630.56)]

**strftime** is a function commonly used in SQL to format date and time values. The name "strftime" stands for "string format time," and it is often used to convert date and time values into a specified format. Uses:

-- Format the current date and time as 'YYYY-MM-DD HH:MM:SS'
SELECT strftime('%Y-%m-%d %H:%M:%S', 'now');

-- Extract the year from a date
SELECT strftime('%Y', '2023-11-21');

-- Extract the month from a date
SELECT strftime('%m', '2023-11-21');

-- Extract the day from a date
SELECT strftime('%d', '2023-11-21');

### VIEWS

A **view** is a virtual table that is based on the result of a SELECT query. Views allow you to encapsulate complex queries and provide a way to present the result of a query as if it were a table. They offer several benefits, including simplifying complex queries, enhancing security by restricting access to certain columns, and providing a consistent interface to users.

#### Design a view that shows customers who have not placed any orders.

In [17]:
%%sql

CREATE VIEW Customer_order AS 
SELECT 
      CompanyName,
      OrderID,
      OrderDate
    
FROM Customers C
LEFT JOIN Orders O
ON C.CustomerID = O.CustomerID

 * sqlite:///Northwind.db
(sqlite3.OperationalError) view Customer_order already exists
[SQL: CREATE VIEW Customer_order AS
SELECT
      CompanyName,
      OrderID,
      OrderDate

FROM Customers C
LEFT JOIN Orders O
ON C.CustomerID = O.CustomerID]
(Background on this error at: https://sqlalche.me/e/14/e3q8)

In [18]:
%%sql

SELECT 
      DISTINCT CompanyName
FROM Customer_order
WHERE OrderID  ISNULL;

 * sqlite:///Northwind.db
Done.

[('FISSA Fabrica Inter. Salchichas S.A.',), ('Paris spcialits',), ('IT',)]

#### Develop a view that combines information from multiple tables to display employee details along with their territories.

In [19]:
%%sql

CREATE VIEW Employee_full_details AS
SELECT
      E.LastName||' '||E.FirstName as Name,
      E.Title,
      E.TitleOfCourtesy,
      E.BirthDate,
      E.HireDate,
      E.HomePhone,
      E.City,
      E.Region,
      E.Country,
      T.TerritoryDescription,
      R.RegionDescription  
FROM Employees E
JOIN EmployeeTerritories ET
ON E.EmployeeID = ET.EmployeeID
JOIN Territories T
ON T.TerritoryID = ET.TerritoryID
JOIN Region R
ON R.RegionID = T.RegionID

 * sqlite:///Northwind.db
(sqlite3.OperationalError) view Employee_full_details already exists
[SQL: CREATE VIEW Employee_full_details AS
SELECT
      E.LastName||' '||E.FirstName as Name,
      E.Title,
      E.TitleOfCourtesy,
      E.BirthDate,
      E.HireDate,
      E.HomePhone,
      E.City,
      E.Region,
      E.Country,
      T.TerritoryDescription,
      R.RegionDescription
FROM Employees E
JOIN EmployeeTerritories ET
ON E.EmployeeID = ET.EmployeeID
JOIN Territories T
ON T.TerritoryID = ET.TerritoryID
JOIN Region R
ON R.RegionID = T.RegionID]
(Background on this error at: https://sqlalche.me/e/14/e3q8)

Using the above VIEW to query the number of territories the employee serve

In [20]:
%%sql

SELECT
      Name as Employee,
      COUNT(TerritoryDescription) as Territories_served

FROM Employee_full_details
GROUP BY 1
ORDER BY 2 DESC;

 * sqlite:///Northwind.db
Done.

[('King Robert', 10),
 ('Fuller Andrew', 7),
 ('Dodsworth Anne', 7),
 ('Buchanan Steven', 7),
 ('Suyama Michael', 5),
 ('Leverling Janet', 4),
 ('Callahan Laura', 4),
 ('Peacock Margaret', 3),
 ('Davolio Nancy', 2)]

### Window Functions

**Window functions** are a category of functions in SQL that perform calculations across a specified range of rows related to the current row within the result set. These functions are applied to a "window" of rows defined by an OVER clause. Window functions are especially useful for performing calculations that involve multiple rows in a result set.

#### Rank products within each category based on their unit prices.

In [21]:
%%sql

WITH products_category AS
(SELECT
      CategoryName,
      ProductName,
      UnitPrice
    
FROM Products P
JOIN Categories C
ON C.CategoryID = P.CategoryID)

SELECT
     CategoryName,
     ProductName,
     RANK() OVER(PARTITION BY CategoryName ORDER BY UnitPrice) as Rank_
    
FROM products_category;

 * sqlite:///Northwind.db
Done.

[('Beverages', 'Guaran Fantstica', 1),
 ('Beverages', 'Rhnbru Klosterbier', 2),
 ('Beverages', 'Sasquatch Ale', 3),
 ('Beverages', 'Laughing Lumberjack Lager', 3),
 ('Beverages', 'Outback Lager', 5),
 ('Beverages', 'Chai', 6),
 ('Beverages', 'Steeleye Stout', 6),
 ('Beverages', 'Chartreuse verte', 6),
 ('Beverages', 'Lakkalikri', 6),
 ('Beverages', 'Chang', 10),
 ('Beverages', 'Ipoh Coffee', 11),
 ('Beverages', 'Cte de Blaye', 12),
 ('Condiments', 'Aniseed Syrup', 1),
 ('Condiments', 'Original Frankfurter grne Soe', 2),
 ('Condiments', 'Genen Shouyu', 3),
 ('Condiments', 'Louisiana Hot Spiced Okra', 4),
 ('Condiments', 'Gula Malacca', 5),
 ('Condiments', 'Louisiana Fiery Hot Pepper Sauce', 6),
 ('Condiments', "Chef Anton's Gumbo Mix", 7),
 ('Condiments', "Chef Anton's Cajun Seasoning", 8),
 ('Condiments', "Grandma's Boysenberry Spread", 9),
 ('Condiments', "Sirop d'rable", 10),
 ('Condiments', 'Northwoods Cranberry Sauce', 11),
 ('Condiments', 'Vegie-spread', 12),
 ('Confections', 'Teatime Chocolate Biscuits', 1),
 ('Confections', 'Zaanse koeken', 2),
 ('Confections', "Sir Rodney's Scones", 3),
 ('Confections', 'Scottish Longbreads', 4),
 ('Confections', 'Chocolade', 5),
 ('Confections', 'NuNuCa Nu-Nougat-Creme', 6),
 ('Confections', 'Valkoinen suklaa', 7),
 ('Confections', 'Pavlova', 8),
 ('Confections', 'Maxilaku', 9),
 ('Confections', 'Gumbr Gummibrchen', 10),
 ('Confections', 'Schoggi Schokolade', 11),
 ('Confections', 'Tarte au sucre', 12),
 ('Confections', "Sir Rodney's Marmalade", 13),
 ('Dairy Products', 'Geitost', 1),
 ('Dairy Products', 'Gorgonzola Telino', 2),
 ('Dairy Products', 'Queso Cabrales', 3),
 ('Dairy Products', 'Flotemysost', 4),
 ('Dairy Products', 'Mascarpone Fabioli', 5),
 ('Dairy Products', 'Camembert Pierrot', 6),
 ('Dairy Products', 'Mozzarella di Giovanni', 7),
 ('Dairy Products', 'Gudbrandsdalsost', 8),
 ('Dairy Products', 'Queso Manchego La Pastora', 9),
 ('Dairy Products', 'Raclette Courdavault', 10),
 ('Grains/Cereals', 'Filo Mix', 1),
 ('Grains/Cereals', 'Tunnbrd', 2),
 ('Grains/Cereals', 'Singaporean Hokkien Fried Mee', 3),
 ('Grains/Cereals', 'Ravioli Angelo', 4),
 ('Grains/Cereals', "Gustaf's Knckebrd", 5),
 ('Grains/Cereals', 'Wimmers gute Semmelkndel', 6),
 ('Grains/Cereals', 'Gnocchi di nonna Alice', 7),
 ('Meat/Poultry', 'Tourtire', 1),
 ('Meat/Poultry', 'Pt chinois', 2),
 ('Meat/Poultry', 'Perth Pasties', 3),
 ('Meat/Poultry', 'Alice Mutton', 4),
 ('Meat/Poultry', 'Mishi Kobe Niku', 5),
 ('Meat/Poultry', 'Thringer Rostbratwurst', 6),
 ('Produce', 'Longlife Tofu', 1),
 ('Produce', 'Tofu', 2),
 ('Produce', "Uncle Bob's Organic Dried Pears", 3),
 ('Produce', 'Rssle Sauerkraut', 4),
 ('Produce', 'Manjimup Dried Apples', 5),
 ('Seafood', 'Konbu', 1),
 ('Seafood', 'Rogede sild', 2),
 ('Seafood', "Jack's New England Clam Chowder", 3),
 ('Seafood', 'Spegesild', 4),
 ('Seafood', 'Escargots de Bourgogne', 5),
 ('Seafood', 'Rd Kaviar', 6),
 ('Seafood', 'Boston Crab Meat', 7),
 ('Seafood', 'Inlagd Sill', 8),
 ('Seafood', 'Nord-Ost Matjeshering', 9),
 ('Seafood', 'Gravad lax', 10),
 ('Seafood', 'Ikura', 11),
 ('Seafood', 'Carnarvon Tigers', 12)]

#### Calculate the running total of sales for each month using a window function.

In [22]:
%%sql

WITH order_details AS
(SELECT
     O.OrderID, 
     O.OrderDate,
     CAST(strftime('%Y', OrderDate) AS INT) as Year,
     CAST(strftime('%m', OrderDate) AS INT) as Month,
     OD.UnitPrice, 
     OD.Quantity,
     (OD.UnitPrice * OD.Quantity) as Sales    
        
FROM Orders O
JOIN OrderDetails OD
ON O.OrderID = OD.OrderID) 

SELECT
      Year,
      Month,
      ROUND(Sales,2) as Monthly_sales,
      ROUND(SUM(Sales) OVER(ORDER BY Year, Month),2) as Running_total

FROM order_details;

 * sqlite:///Northwind.db
Done.

[(1996, 7, 168.0, 30192.1),
 (1996, 7, 98.0, 30192.1),
 (1996, 7, 174.0, 30192.1),
 (1996, 7, 167.4, 30192.1),
 (1996, 7, 1696.0, 30192.1),
 (1996, 7, 77.0, 30192.1),
 (1996, 7, 1484.0, 30192.1),
 (1996, 7, 252.0, 30192.1),
 (1996, 7, 100.8, 30192.1),
 (1996, 7, 234.0, 30192.1),
 (1996, 7, 336.0, 30192.1),
 (1996, 7, 2592.0, 30192.1),
 (1996, 7, 50.0, 30192.1),
 (1996, 7, 1088.0, 30192.1),
 (1996, 7, 200.0, 30192.1),
 (1996, 7, 604.8, 30192.1),
 (1996, 7, 640.0, 30192.1),
 (1996, 7, 54.0, 30192.1),
 (1996, 7, 403.2, 30192.1),
 (1996, 7, 168.0, 30192.1),
 (1996, 7, 304.0, 30192.1),
 (1996, 7, 486.5, 30192.1),
 (1996, 7, 380.0, 30192.1),
 (1996, 7, 1320.0, 30192.1),
 (1996, 7, 393.0, 30192.1),
 (1996, 7, 124.8, 30192.1),
 (1996, 7, 877.5, 30192.1),
 (1996, 7, 86.4, 30192.1),
 (1996, 7, 156.0, 30192.1),
 (1996, 7, 760.0, 30192.1),
 (1996, 7, 1105.0, 30192.1),
 (1996, 7, 153.6, 30192.1),
 (1996, 7, 80.0, 30192.1),
 (1996, 7, 20.8, 30192.1),
 (1996, 7, 123.2, 30192.1),
 (1996, 7, 780.0, 30192.1),
 (1996, 7, 591.0, 30192.1),
 (1996, 7, 252.0, 30192.1),
 (1996, 7, 160.0, 30192.1),
 (1996, 7, 288.0, 30192.1),
 (1996, 7, 204.0, 30192.1),
 (1996, 7, 360.0, 30192.1),
 (1996, 7, 60.8, 30192.1),
 (1996, 7, 834.0, 30192.1),
 (1996, 7, 100.8, 30192.1),
 (1996, 7, 1242.0, 30192.1),
 (1996, 7, 288.0, 30192.1),
 (1996, 7, 532.0, 30192.1),
 (1996, 7, 192.5, 30192.1),
 (1996, 7, 936.0, 30192.1),
 (1996, 7, 240.0, 30192.1),
 (1996, 7, 364.8, 30192.1),
 (1996, 7, 735.0, 30192.1),
 (1996, 7, 3080.0, 30192.1),
 (1996, 7, 216.0, 30192.1),
 (1996, 7, 990.0, 30192.1),
 (1996, 7, 111.2, 30192.1),
 (1996, 7, 120.0, 30192.1),
 (1996, 7, 556.0, 30192.1),
 (1996, 8, 456.0, 56801.5),
 (1996, 8, 920.0, 56801.5),
 (1996, 8, 48.0, 56801.5),
 (1996, 8, 388.8, 56801.5),
 (1996, 8, 400.0, 56801.5),
 (1996, 8, 667.2, 56801.5),
 (1996, 8, 595.2, 56801.5),
 (1996, 8, 150.0, 56801.5),
 (1996, 8, 40.0, 56801.5),
 (1996, 8, 882.0, 56801.5),
 (1996, 8, 475.2, 56801.5),
 (1996, 8, 344.0, 56801.5),
 (1996, 8, 194.6, 56801.5),
 (1996, 8, 43.2, 56801.5),
 (1996, 8, 264.0, 56801.5),
 (1996, 8, 372.0, 56801.5),
 (1996, 8, 48.0, 56801.5),
 (1996, 8, 728.0, 56801.5),
 (1996, 8, 472.8, 56801.5),
 (1996, 8, 248.0, 56801.5),
 (1996, 8, 660.0, 56801.5),
 (1996, 8, 280.8, 56801.5),
 (1996, 8, 300.0, 56801.5),
 (1996, 8, 468.0, 56801.5),
 (1996, 8, 43.2, 56801.5),
 (1996, 8, 384.0, 56801.5),
 (1996, 8, 186.0, 56801.5),
 (1996, 8, 7.3, 56801.5),
 (1996, 8, 21.6, 56801.5),
 (1996, 8, 57.6, 56801.5),
 (1996, 8, 124.2, 56801.5),
 (1996, 8, 31.2, 56801.5),
 (1996, 8, 248.0, 56801.5),
 (1996, 8, 131.4, 56801.5),
 (1996, 8, 952.0, 56801.5),
 (1996, 8, 83.4, 56801.5),
 (1996, 8, 526.5, 56801.5),
 (1996, 8, 325.5, 56801.5),
 (1996, 8, 544.0, 56801.5),
 (1996, 8, 56.0, 56801.5),
 (1996, 8, 648.0, 56801.5),
 (1996, 8, 588.0, 56801.5),
 (1996, 8, 943.2, 56801.5),
 (1996, 8, 1440.0, 56801.5),
 (1996, 8, 1576.0, 56801.5),
 (1996, 8, 556.0, 56801.5),
 (1996, 8, 224.0, 56801.5),
 (1996, 8, 144.0, 56801.5),
 (1996, 8, 59.0, 56801.5),
 (1996, 8, 30.0, 56801.5),
 (1996, 8, 240.0, 56801.5),
 (1996, 8, 239.4, 56801.5),
 (1996, 8, 340.0, 56801.5),
 (1996, 8, 1485.0, 56801.5),
 (1996, 8, 240.0, 56801.5),
 (1996, 8, 104.0, 56801.5),
 (1996, 8, 96.0, 56801.5),
 (1996, 8, 372.0, 56801.5),
 (1996, 8, 84.8, 56801.5),
 (1996, 8, 1296.0, 56801.5),
 (1996, 8, 600.0, 56801.5),
 (1996, 8, 36.0, 56801.5),
 (1996, 8, 175.5, 56801.5),
 (1996, 8, 37.2, 56801.5),
 (1996, 8, 259.2, 56801.5),
 (1996, 8, 468.0, 56801.5),
 (1996, 8, 552.0, 56801.5),
 (1996, 8, 571.2, 56801.5),
 (1996, 8, 37.2, 56801.5),
 (1996, 9, 121.6, 84437.5),
 (1996, 9, 201.6, 84437.5),
 (1996, 9, 417.0, 84437.5),
 (1996, 9, 432.0, 84437.5),
 (1996, 9, 864.0, 84437.5),
 (1996, 9, 556.0, 84437.5),
 (1996, 9, 608.0, 84437.5),
 (1996, 9, 608.0, 84437.5),
 (1996, 9, 1320.0, 84437.5),
 (1996, 9, 591.0, 84437.5),
 (1996, 9, 109.5, 84437.5),
 (1996, 9, 240.0, 84437.5),
 (1996, 9, 408.0, 84437.5),
 (1996, 9, 200.0, 84437.5),
 (1996, 9, 147.0, 84437.5),
 (1996, 9, 608.0, 84437.5),
 (1996, 9, 1248.0, 84437.5),
 (1996, 9, 1019.2, 84437.5),
 (1996, 9, 441.6, 84437.5),
 (1996, 9, 588.0, 84437.5),
 (1996, 9, 504.0, 84437.5),
 (1996, 9, 150.0, 84437.5),
 (1996, 9, 480.0, 84437.5),
 (1996, 9, 440.0, 84437.5),
 (1996, 9, 34.4, 84437.5),
 (1996, 9, 1250.0, 84437.5),
 (1996, 9, 2475.0, 84437.5),
 (1996, 9, 432.0, 84437.5),
 (1996, 9, 207.0, 84437.5),
 (1996, 9, 262.0, 84437.5),
 (1996, 9, 29.5, 84437.5),
 (1996, 9, 394.0, 84437.5),
 (1996, 9, 30.0, 84437.5),
 (1996, 9, 28.8, 84437.5),
 (1996, 9, 60.0, 84437.5),
 (1996, 9, 352.0, 84437.5),
 (1996, 9, 600.0, 84437.5),
 (1996, 9, 22.4, 84437.5),
 (1996, 9, 736.0, 84437.5),
 (1996, 9, 51.6, 84437.5),
 (1996, 9, 139.0, 84437.5),
 (1996, 9, 197.0, 84437.5),
 (1996, 9, 67.2, 84437.5),
 (1996, 9, 201.6, 84437.5),
 (1996, 9, 145.6, 84437.5),
 (1996, 9, 883.2, 84437.5),
 (1996, 9, 524.0, 84437.5),
 (1996, 9, 62.0, 84437.5),
 (1996, 9, 182.4, 84437.5),
 (1996, 9, 1024.0, 84437.5),
 (1996, 9, 318.0, 84437.5),
 (1996, 9, 985.0, 84437.5),
 (1996, 9, 156.8, 84437.5),
 (1996, 9, 360.0, 84437.5),
 (1996, 9, 77.0, 84437.5),
 (1996, 9, 2758.0, 84437.5),
 (1996, 9, 288.0, 84437.5),
 (1996, 10, 154.0, 125641.1),
 (1996, 10, 86.4, 125641.1),
 (1996, 10, 249.6, 125641.1),
 (1996, 10, 509.6, 125641.1),
 (1996, 10, 432.0, 125641.1),
 (1996, 10, 516.0, 125641.1),
 (1996, 10, 144.0, 125641.1),
 (1996, 10, 112.0, 125641.1),
 (1996, 10, 62.0, 125641.1),
 (1996, 10, 44.8, 125641.1),
 (1996, 10, 57.6, 125641.1),
 (1996, 10, 291.9, 125641.1),
 (1996, 10, 1008.0, 125641.1),
 (1996, 10, 288.0, 125641.1),
 (1996, 10, 1760.0, 125641.1),
 (1996, 10, 2808.0, 125641.1),
 (1996, 10, 120.0, 125641.1),
 (1996, 10, 57.6, 125641.1),
 (1996, 10, 167.4, 125641.1),
 (1996, 10, 40.0, 125641.1),
 (1996, 10, 1112.0, 125641.1),
 (1996, 10, 422.4, 125641.1),
 (1996, 10, 249.6, 125641.1),
 (1996, 10, 310.0, 125641.1),
 (1996, 10, 380.0, 125641.1),
 (1996, 10, 840.0, 125641.1),
 (1996, 10, 724.5, 125641.1),
 (1996, 10, 318.0, 125641.1),
 (1996, 10, 396.0, 125641.1),
 (1996, 10, 672.0, 125641.1),
 (1996, 10, 100.0, 125641.1),
 (1996, 10, 73.0, 125641.1),
 (1996, 10, 165.6, 125641.1),
 (1996, 10, 4216.0, 125641.1),
 (1996, 10, 364.8, 125641.1),
 (1996, 10, 1245.0, 125641.1),
 (1996, 10, 695.0, 125641.1),
 (1996, 10, 88.5, 125641.1),
 (1996, 10, 2000.0, 125641.1),
 (1996, 10, 112.0, 125641.1),
 (1996, 10, 121.6, 125641.1),
 (1996, 10, 186.0, 125641.1),
 (1996, 10, 80.0, 125641.1),
 (1996, 10, 688.0, 125641.1),
 (1996, 10, 44.8, 125641.1),
 (1996, 10, 100.0, 125641.1),
 (1996, 10, 106.4, 125641.1),
 (1996, 10, 250.0, 125641.1),
 (1996, 10, 153.6, 125641.1),
 (1996, 10, 2035.2, 125641.1),
 (1996, 10, 316.8, 125641.1),
 (1996, 10, 288.0, 125641.1),
 (1996, 10, 597.6, 125641.1),
 (1996, 10, 304.0, 125641.1),
 (1996, 10, 582.4, 125641.1),
 (1996, 10, 695.0, 125641.1),
 (1996, 10, 624.0, 125641.1),
 (1996, 10, 310.5, 125641.1),
 (1996, 10, 176.0, 125641.1),
 (1996, 10, 2184.0, 125641.1),
 (1996, 10, 1103.2, 125641.1),
 (1996, 10, 1000.0, 125641.1),
 (1996, 10, 92.4, 125641.1),
 (1996, 10, 1472.0, 125641.1),
 (1996, 10, 16.0, 125641.1),
 (1996, 10, 396.0, 125641.1),
 (1996, 10, 364.8, 125641.1),
 (1996, 10, 560.0, 125641.1),
 (1996, 10, 608.0, 125641.1),
 (1996, 10, 768.0, 125641.1),
 (1996, 10, 1330.0, 125641.1),
 (1996, 10, 40.0, 125641.1),
 (1996, 10, 216.0, 125641.1),
 (1996, 11, 616.0, 175345.1),
 (1996, 11, 2240.0, 175345.1),
 (1996, 11, 2240.0, 175345.1),
 (1996, 11, 584.0, 175345.1),
 (1996, 11, 100.8, 175345.1),
 (1996, 11, 1123.2, 175345.1),
 (1996, 11, 608.0, 175345.1),
 (1996, 11, 112.0, 175345.1),
 (1996, 11, 720.0, 175345.1),
 (1996, 11, 58.8, 175345.1),
 (1996, 11, 37.2, 175345.1),
 (1996, 11, 216.0, 175345.1),
 (1996, 11, 180.0, 175345.1),
 (1996, 11, 141.6, 175345.1),
 (1996, 11, 195.0, 175345.1),
 (1996, 11, 518.4, 175345.1),
 (1996, 11, 4216.0, 175345.1),
 (1996, 11, 100.1, 175345.1),
 (1996, 11, 1193.5, 175345.1),
 (1996, 11, 168.0, 175345.1),
 (1996, 11, 36.0, 175345.1),
 (1996, 11, 118.0, 175345.1),
 (1996, 11, 201.6, 175345.1),
 (1996, 11, 10540.0, 175345.1),
 (1996, 11, 172.8, 175345.1),
 (1996, 11, 396.0, 175345.1),
 (1996, 11, 90.0, 175345.1),
 (1996, 11, 390.0, 175345.1),
 (1996, 11, 300.0, 175345.1),
 (1996, 11, 230.4, 175345.1),
 (1996, 11, 576.0, 175345.1),
 (1996, 11, 744.0, 175345.1),
 (1996, 11, 398.4, 175345.1),
 (1996, 11, 217.6, 175345.1),
 (1996, 11, 36.0, 175345.1),
 (1996, 11, 112.0, 175345.1),
 (1996, 11, 304.0, 175345.1),
 (1996, 11, 778.4, 175345.1),
 (1996, 11, 700.0, 175345.1),
 (1996, 11, 2176.0, 175345.1),
 (1996, 11, 1092.0, 175345.1),
 (1996, 11, 3465.0, 175345.1),
 (1996, 11, 2108.0, 175345.1),
 (1996, 11, 560.0, 175345.1),
 (1996, 11, 165.2, 175345.1),
 (1996, 11, 777.6, 175345.1),
 (1996, 11, 1496.0, 175345.1),
 (1996, 11, 560.0, 175345.1),
 (1996, 11, 848.0, 175345.1),
 (1996, 11, 141.6, 175345.1),
 (1996, 11, 200.0, 175345.1),
 (1996, 11, 74.4, 175345.1),
 (1996, 11, 172.8, 175345.1),
 (1996, 11, 864.0, 175345.1),
 (1996, 11, 86.0, 175345.1),
 (1996, 11, 403.2, 175345.1),
 (1996, 11, 84.0, 175345.1),
 (1996, 11, 52.0, 175345.1),
 (1996, 11, 403.2, 175345.1),
 (1996, 11, 106.2, 175345.1),
 (1996, 11, 252.0, 175345.1),
 (1996, 11, 72.8, 175345.1),
 (1996, 11, 40.0, 175345.1),
 (1996, 11, 473.2, 175345.1),
 (1996, 11, 390.0, 175345.1),
 (1996, 11, 931.0, 175345.1),
 (1996, 12, 1980.0, 226298.5),
 (1996, 12, 547.2, 226298.5),
 (1996, 12, 216.0, 226298.5),
 (1996, 12, 798.0, 226298.5),
 (1996, 12, 160.0, 226298.5),
 (1996, 12, 91.2, 226298.5),
 (1996, 12, 777.6, 226298.5),
 (1996, 12, 8432.0, 226298.5),
 (1996, 12, 1904.0, 226298.5),
 (1996, 12, 1167.6, 226298.5),
 (1996, 12, 848.0, 226298.5),
 (1996, 12, 860.0, 226298.5),
 (1996, 12, 300.0, 226298.5),
 (1996, 12, 159.0, 226298.5),
 (1996, 12, 279.0, 226298.5),
 (1996, 12, 59.0, 226298.5),
 (1996, 12, 420.0, 226298.5),
 (1996, 12, 728.0, 226298.5),
 (1996, 12, 288.0, 226298.5),
 (1996, 12, 103.2, 226298.5),
 (1996, 12, 61.6, 226298.5),
 (1996, 12, 561.6, 226298.5),
 (1996, 12, 336.0, 226298.5),
 (1996, 12, 372.6, 226298.5),
 (1996, 12, 524.0, 226298.5),
 (1996, 12, 163.2, 226298.5),
 (1996, 12, 360.0, 226298.5),
 (1996, 12, 112.0, 226298.5),
 (1996, 12, 544.0, 226298.5),
 (1996, 12, 450.0, 226298.5),
 (1996, 12, 1386.0, 226298.5),
 (1996, 12, 120.0, 226298.5),
 (1996, 12, 400.0, 226298.5),
 (1996, 12, 96.0, 226298.5),
 (1996, 12, 195.0, 226298.5),
 (1996, 12, 608.0, 226298.5),
 (1996, 12, 1814.4, 226298.5),
 (1996, 12, 408.0, 226298.5),
 (1996, 12, 240.0, 226298.5),
 (1996, 12, 544.0, 226298.5),
 (1996, 12, 80.0, 226298.5),
 (1996, 12, 54.0, 226298.5),
 (1996, 12, 112.0, 226298.5),
 (1996, 12, 54.0, 226298.5),
 (1996, 12, 218.4, 226298.5),
 (1996, 12, 528.0, 226298.5),
 (1996, 12, 258.0, 226298.5),
 (1996, 12, 114.0, 226298.5),
 (1996, 12, 112.0, 226298.5),
 (1996, 12, 1048.0, 226298.5),
 (1996, 12, 396.8, 226298.5),
 (1996, 12, 288.0, 226298.5),
 (1996, 12, 788.0, 226298.5),
 (1996, 12, 360.0, 226298.5),
 (1996, 12, 600.0, 226298.5),
 (1996, 12, 576.0, 226298.5),
 (1996, 12, 432.0, 226298.5),
 (1996, 12, 667.2, 226298.5),
 (1996, 12, 86.4, 226298.5),
 (1996, 12, 1440.0, 226298.5),
 (1996, 12, 380.0, 226298.5),
 (1996, 12, 781.2, 226298.5),
 (1996, 12, 78.4, 226298.5),
 (1996, 12, 1743.0, 226298.5),
 (1996, 12, 320.0, 226298.5),
 (1996, 12, 48.0, 226298.5),
 (1996, 12, 394.0, 226298.5),
 (1996, 12, 268.8, 226298.5),
 (1996, 12, 1834.0, 226298.5),
 (1996, 12, 230.4, 226298.5),
 (1996, 12, 288.0, 226298.5),
 (1996, 12, 1032.0, 226298.5),
 (1996, 12, 583.8, 226298.5),
 (1996, 12, 80.0, 226298.5),
 (1996, 12, 763.2, 226298.5),
 (1996, 12, 432.0, 226298.5),
 (1996, 12, 2304.0, 226298.5),
 (1996, 12, 600.0, 226298.5),
 (1996, 12, 516.0, 226298.5),
 (1996, 12, 504.0, 226298.5),
 (1996, 12, 145.6, 226298.5),
 (1997, 1, 2079.0, 292991.3),
 (1997, 1, 504.0, 292991.3),
 (1997, 1, 480.0, 292991.3),
 (1997, 1, 372.6, 292991.3),
 (1997, 1, 2128.0, 292991.3),
 (1997, 1, 336.0, 292991.3),
 (1997, 1, 1032.0, 292991.3),
 (1997, 1, 432.0, 292991.3),
 (1997, 1, 2281.5, 292991.3),
 (1997, 1, 291.9, 292991.3),
 (1997, 1, 714.0, 292991.3),
 (1997, 1, 747.0, 292991.3),
 (1997, 1, 448.0, 292991.3),
 (1997, 1, 480.0, 292991.3),
 (1997, 1, 400.0, 292991.3),
 (1997, 1, 144.0, 292991.3),
 (1997, 1, 240.0, 292991.3),
 (1997, 1, 1528.8, 292991.3),
 (1997, 1, 76.0, 292991.3),
 (1997, 1, 29.4, 292991.3),
 (1997, 1, 504.0, 292991.3),
 (1997, 1, 432.0, 292991.3),
 (1997, 1, 258.0, 292991.3),
 (1997, 1, 208.0, 292991.3),
 (1997, 1, 35.4, 292991.3),
 (1997, 1, 1379.0, 292991.3),
 (1997, 1, 223.2, 292991.3),
 (1997, 1, 96.0, 292991.3),
 (1997, 1, 98.0, 292991.3),
 (1997, 1, 704.0, 292991.3),
 (1997, 1, 192.5, 292991.3),
 (1997, 1, 620.0, 292991.3),
 (1997, 1, 396.0, 292991.3),
 (1997, 1, 372.0, 292991.3),
 (1997, 1, 345.6, 292991.3),
 (1997, 1, 1576.0, 292991.3),
 (1997, 1, 201.6, 292991.3),
 (1997, 1, 131.4, 292991.3),
 (1997, 1, 100.0, 292991.3),
 (1997, 1, 62.4, 292991.3),
 (1997, 1, 40.0, 292991.3),
 (1997, 1, 146.0, 292991.3),
 (1997, 1, 262.0, 292991.3),
 (1997, 1, 312.0, 292991.3),
 (1997, 1, 10540.0, 292991.3),
 (1997, 1, 19.2, 292991.3),
 (1997, 1, 360.0, 292991.3),
 (1997, 1, 364.0, 292991.3),
 (1997, 1, 912.0, 292991.3),
 (1997, 1, 418.0, 292991.3),
 (1997, 1, 364.8, 292991.3),
 (1997, 1, 120.0, 292991.3),
 (1997, 1, 1632.0, 292991.3),
 (1997, 1, 576.0, 292991.3),
 (1997, 1, 1552.0, 292991.3),
 (1997, 1, 9.6, 292991.3),
 (1997, 1, 96.0, 292991.3),
 (1997, 1, 240.0, 292991.3),
 (1997, 1, 29.2, 292991.3),
 (1997, 1, 747.0, 292991.3),
 (1997, 1, 393.0, 292991.3),
 (1997, 1, 104.0, 292991.3),
 (1997, 1, 49.8, 292991.3),
 (1997, 1, 140.0, 292991.3),
 (1997, 1, 880.0, 292991.3),
 (1997, 1, 864.0, 292991.3),
 (1997, 1, 10329.2, 292991.3),
 (1997, 1, 300.0, 292991.3),
 (1997, 1, 192.0, 292991.3),
 (1997, 1, 288.0, 292991.3),
 (1997, 1, 152.0, 292991.3),
 (1997, 1, 186.2, 292991.3),
 (1997, 1, 651.0, 292991.3),
 (1997, 1, 192.0, 292991.3),
 (1997, 1, 520.0, 292991.3),
 (1997, 1, 1228.5, 292991.3),
 (1997, 1, 1404.0, 292991.3),
 (1997, 1, 400.0, 292991.3),
 (1997, 1, 912.0, 292991.3),
 (1997, 1, 3080.0, 292991.3),
 (1997, 1, 1560.0, 292991.3),
 (1997, 1, 735.0, 292991.3),
 (1997, 1, 228.0, 292991.3),
 (1997, 1, 249.0, 292991.3),
 (1997, 1, 236.0, 292991.3),
 (1997, 2, 851.2, 334198.5),
 (1997, 2, 100.8, 334198.5),
 (1997, 2, 259.2, 334198.5),
 (1997, 2, 152.0, 334198.5),
 (1997, 2, 201.6, 334198.5),
 (1997, 2, 278.0, 334198.5),
 (1997, 2, 48.0, 334198.5),
 (1997, 2, 1216.0, 334198.5),
 (1997, 2, 798.0, 334198.5),
 (1997, 2, 148.8, 334198.5),
 (1997, 2, 393.0, 334198.5),
 (1997, 2, 109.5, 334198.5),
 (1997, 2, 224.0, 334198.5),
 (1997, 2, 234.0, 334198.5),
 (1997, 2, 456.0, 334198.5),
 (1997, 2, 222.4, 334198.5),
 (1997, 2, 159.6, 334198.5),
 (1997, 2, 240.0, 334198.5),
 (1997, 2, 684.0, 334198.5),
 (1997, 2, 681.1, 334198.5),
 (1997, 2, 2376.0, 334198.5),
 (1997, 2, 2052.0, 334198.5),
 (1997, 2, 1755.0, 334198.5),
 (1997, 2, 504.0, 334198.5),
 (1997, 2, 472.0, 334198.5),
 (1997, 2, 816.0, 334198.5),
 (1997, 2, 100.8, 334198.5),
 (1997, 2, 436.8, 334198.5),
 (1997, 2, 312.0, 334198.5),
 (1997, 2, 373.5, 334198.5),
 (1997, 2, 115.2, 334198.5),
 (1997, 2, 231.0, 334198.5),
 (1997, 2, 86.4, 334198.5),
 (1997, 2, 88.5, 334198.5),
 (1997, 2, 87.6, 334198.5),
 (1997, 2, 72.0, 334198.5),
 (1997, 2, 30.0, 334198.5),
 (1997, 2, 84.0, 334198.5),
 (1997, 2, 292.0, 334198.5),
 (1997, 2, 588.0, 334198.5),
 (1997, 2, 34.4, 334198.5),
 (1997, 2, 149.4, 334198.5),
 (1997, 2, 294.0, 334198.5),
 (1997, 2, 347.2, 334198.5),
 (1997, 2, 112.0, 334198.5),
 (1997, 2, 1379.0, 334198.5),
 (1997, 2, 496.0, 334198.5),
 (1997, 2, 35.4, 334198.5),
 (1997, 2, 2304.0, 334198.5),
 (1997, 2, 931.0, 334198.5),
 (1997, 2, 470.4, 334198.5),
 (1997, 2, 572.0, 334198.5),
 (1997, 2, 546.0, 334198.5),
 (1997, 2, 1550.0, 334198.5),
 (1997, 2, 153.0, 334198.5),
 (1997, 2, 300.0, 334198.5),
 (1997, 2, 278.0, 334198.5),
 (1997, 2, 40.0, 334198.5),
 (1997, 2, 96.0, 334198.5),
 (1997, 2, 288.0, 334198.5),
 (1997, 2, 1310.0, 334198.5),
 (1997, 2, 570.0, 334198.5),
 (1997, 2, 516.0, 334198.5),
 (1997, 2, 320.0, 334198.5),
 (1997, 2, 336.0, 334198.5),
 (1997, 2, 1584.0, 334198.5),
 (1997, 2, 747.0, 334198.5),
 (1997, 2, 1092.0, 334198.5),
 (1997, 2, 736.0, 334198.5),
 (1997, 2, 456.0, 334198.5),
 (1997, 2, 860.0, 334198.5),
 (1997, 2, 384.0, 334198.5),
 (1997, 2, 192.0, 334198.5),
 (1997, 2, 1112.0, 334198.5),
 (1997, 2, 210.0, 334198.5),
 (1997, 2, 24.8, 334198.5),
 (1997, 2, 320.0, 334198.5),
 (1997, 2, 579.6, 334198.5),
 (1997, 2, 1152.0, 334198.5),
 (1997, 3, 4.8, 374178.4),
 (1997, 3, 151.2, 374178.4),
 (1997, 3, 153.3, 374178.4),
 (1997, 3, 560.0, 374178.4),
 (1997, 3, 281.6, 374178.4),
 (1997, 3, 110.4, 374178.4),
 (1997, 3, 912.0, 374178.4),
 (1997, 3, 544.0, 374178.4),
 (1997, 3, 90.0, 374178.4),
 (1997, 3, 1782.0, 374178.4),
 (1997, 3, 294.0, 374178.4),
 (1997, 3, 228.0, 374178.4),
 (1997, 3, 325.0, 374178.4),
 (1997, 3, 168.0, 374178.4),
 (1997, 3, 48.0, 374178.4),
 (1997, 3, 100.8, 374178.4),
 (1997, 3, 134.4, 374178.4),
 (1997, 3, 165.6, 374178.4),
 (1997, 3, 552.0, 374178.4),
 (1997, 3, 608.0, 374178.4),
 (1997, 3, 486.5, 374178.4),
 (1997, 3, 31.0, 374178.4),
 (1997, 3, 1500.0, 374178.4),
 (1997, 3, 108.0, 374178.4),
 (1997, 3, 212.8, 374178.4),
 (1997, 3, 720.0, 374178.4),
 (1997, 3, 608.0, 374178.4),
 (1997, 3, 288.0, 374178.4),
 (1997, 3, 763.2, 374178.4),
 (1997, 3, 24.0, 374178.4),
 (1997, 3, 206.4, 374178.4),
 (1997, 3, 223.2, 374178.4),
 (1997, 3, 655.2, 374178.4),
 (1997, 3, 308.7, 374178.4),
 (1997, 3, 62.0, 374178.4),
 (1997, 3, 350.0, 374178.4),
 (1997, 3, 816.0, 374178.4),
 (1997, 3, 604.8, 374178.4),
 (1997, 3, 38.4, 374178.4),
 (1997, 3, 144.0, 374178.4),
 (1997, 3, 216.0, 374178.4),
 (1997, 3, 168.0, 374178.4),
 (1997, 3, 288.0, 374178.4),
 (1997, 3, 496.0, 374178.4),
 (1997, 3, 6324.0, 374178.4),
 (1997, 3, 733.6, 374178.4),
 (1997, 3, 2640.0, 374178.4),
 (1997, 3, 798.0, 374178.4),
 (1997, 3, 228.0, 374178.4),
 (1997, 3, 528.0, 374178.4),
 (1997, 3, 384.0, 374178.4),
 (1997, 3, 1088.0, 374178.4),
 (1997, 3, 147.0, 374178.4),
 (1997, 3, 392.0, 374178.4),
 (1997, 3, 312.0, 374178.4),
 (1997, 3, 112.0, 374178.4),
 (1997, 3, 147.0, 374178.4),
 (1997, 3, 127.2, 374178.4),
 (1997, 3, 304.0, 374178.4),
 (1997, 3, 160.0, 374178.4),
 (1997, 3, 576.0, 374178.4),
 (1997, 3, 720.0, 374178.4),
 (1997, 3, 84.0, 374178.4),
 (1997, 3, 1060.0, 374178.4),
 (1997, 3, 128.0, 374178.4),
 (1997, 3, 36.5, 374178.4),
 (1997, 3, 747.0, 374178.4),
 (1997, 3, 141.6, 374178.4),
 (1997, 3, 1320.0, 374178.4),
 (1997, 3, 240.0, 374178.4),
 (1997, 3, 252.0, 374178.4),
 (1997, 3, 250.2, 374178.4),
 (1997, 3, 2640.0, 374178.4),
 (1997, 3, 300.0, 374178.4),
 (1997, 3, 223.2, 374178.4),
 (1997, 3, 232.5, 374178.4),
 (1997, 3, 72.8, 374178.4),
 (1997, 4, 672.0, 429877.79),
 (1997, 4, 224.0, 429877.79),
 (1997, 4, 252.0, 429877.79),
 (1997, 4, 136.0, 429877.79),
 (1997, 4, 288.0, 429877.79),
 (1997, 4, 912.0, 429877.79),
 (1997, 4, 72.0, 429877.79),
 (1997, 4, 154.0, 429877.79),
 (1997, 4, 52.0, 429877.79),
 (1997, 4, 200.0, 429877.79),
 (1997, 4, 425.6, 429877.79),
 (1997, 4, 695.0, 429877.79),
 (1997, 4, 260.0, 429877.79),
 (1997, 4, 63.0, 429877.79),
 (1997, 4, 92.0, 429877.79),
 (1997, 4, 420.0, 429877.79),
 (1997, 4, 912.0, 429877.79),
 (1997, 4, 500.0, 429877.79),
 (1997, 4, 186.0, 429877.79),
 (1997, 4, 364.8, 429877.79),
 (1997, 4, 149.0, 429877.79),
 (1997, 4, 199.5, 429877.79),
 (1997, 4, 196.8, 429877.79),
 (1997, 4, 420.0, 429877.79),
 (1997, 4, 1627.5, 429877.79),
 (1997, 4, 421.0, 429877.79),
 (1997, 4, 228.0, 429877.79),
 (1997, 4, 120.0, 429877.79),
 (1997, 4, 328.0, 429877.79),
 (1997, 4, 712.5, 429877.79),
 (1997, 4, 147.9, 429877.79),
 (1997, 4, 252.0, 429877.79),
 (1997, 4, 210.0, 429877.79),
 (1997, 4, 690.0, 429877.79),
 (1997, 4, 191.25, 429877.79),
 (1997, 4, 60.0, 429877.79),
 (1997, 4, 180.0, 429877.79),
 (1997, 4, 136.8, 429877.79),
 (1997, 4, 4456.44, 429877.79),
 (1997, 4, 279.0, 429877.79),
 (1997, 4, 1100.0, 429877.79),

### Control Frow : CASE

The CASE statement in SQL is a powerful and flexible way to perform conditional logic within a query. It allows you to create conditional expressions and define different actions based on those conditions.

#### Query to display a column indicating whether an order is "Shipped" or "Not Shipped" based on the ShippedDate column.

In [23]:
%%sql

SELECT
      OrderID,
      CASE WHEN ShippedDate IS NOT NULL THEN 'Shipped'
           ELSE 'Not Shipped' END AS Shipping_status
      
FROM orders
LIMIT 5;

 * sqlite:///Northwind.db
Done.

[(10248, 'Shipped'),
 (10249, 'Shipped'),
 (10250, 'Shipped'),
 (10251, 'Shipped'),
 (10252, 'Shipped')]

#### Categorize products into three price ranges: "Low," "Medium," and "High."

In [24]:
%%sql

SELECT
      CategoryName,
      ProductName,
      UnitPrice,
      CASE WHEN UnitPrice <= 20 THEN 'Low'
           WHEN UnitPrice <= 50 THEN  'Medium' 
           ELSE 'High' END AS Price_range
    
FROM Products P
JOIN Categories C
ON C.CategoryID = P.CategoryID
LIMIT 6;

 * sqlite:///Northwind.db
Done.

[('Beverages', 'Chai', 18, 'Low'),
 ('Beverages', 'Chang', 19, 'Low'),
 ('Condiments', 'Aniseed Syrup', 10, 'Low'),
 ('Condiments', "Chef Anton's Cajun Seasoning", 22, 'Medium'),
 ('Condiments', "Chef Anton's Gumbo Mix", 21.35, 'Medium'),
 ('Condiments', "Grandma's Boysenberry Spread", 25, 'Medium')]

#### Calculate the average order amount for each customer, and use a CASE statement to categorize customers as "Low," "Medium," or "High" based on their average order amount.

In [25]:
%%sql

SELECT 
      C.CompanyName,
      ROUND(AVG(OD.UnitPrice * OD.Quantity),2) as Avg_order_amt,
      CASE WHEN ROUND(AVG(OD.UnitPrice * OD.Quantity),2) >= 900 THEN 'High'
           WHEN ROUND(AVG(OD.UnitPrice * OD.Quantity),2) >= 300 THEN 'Medium'
           ELSE 'Low' END AS Customers_category

FROM Customers C
JOIN Orders O
ON O.CustomerID = C.CustomerID
JOIN OrderDetails OD
ON O.OrderID = OD.OrderID
GROUP BY 1
LIMIT 7;

 * sqlite:///Northwind.db
Done.

[('Alfreds Futterkiste', 383.02, 'Medium'),
 ('Ana Trujillo Emparedados y helados', 140.3, 'Low'),
 ('Antonio Moreno Taquera', 442.08, 'Medium'),
 ('Around the Horn', 460.22, 'Medium'),
 ("B's Beverages", 276.81, 'Low'),
 ('Berglunds snabbkp', 518.62, 'Medium'),
 ('Blauer See Delikatessen', 231.41, 'Low')]

#### Categorize orders as "On Time," "Delayed," or "Not Shipped" based on the difference between OrderDate and ShippedDate.

In [26]:
%%sql

WITH Shipping_days AS
(SELECT 
    OrderID,
    julianday(RequiredDate) - julianday(OrderDate) AS duration_days,
    julianday(ShippedDate) - julianday(OrderDate) AS Time_to_ship,
    (julianday(RequiredDate) - julianday(OrderDate))-(julianday(ShippedDate) - julianday(OrderDate)) as ETA_days
FROM 
    orders)

SELECT
      OrderID,
      CASE WHEN ETA_days > 0 THEN 'On Time'
           WHEN ETA_days <= 0 THEN 'Delayed'
           ELSE 'Not Shipped' END AS shipping_status

FROM Shipping_days;

 * sqlite:///Northwind.db
Done.

[(10248, 'On Time'),
 (10249, 'On Time'),
 (10250, 'On Time'),
 (10251, 'On Time'),
 (10252, 'On Time'),
 (10253, 'On Time'),
 (10254, 'On Time'),
 (10255, 'On Time'),
 (10256, 'On Time'),
 (10257, 'On Time'),
 (10258, 'On Time'),
 (10259, 'On Time'),
 (10260, 'On Time'),
 (10261, 'On Time'),
 (10262, 'On Time'),
 (10263, 'On Time'),
 (10264, 'Delayed'),
 (10265, 'On Time'),
 (10266, 'On Time'),
 (10267, 'On Time'),
 (10268, 'On Time'),
 (10269, 'On Time'),
 (10270, 'On Time'),
 (10271, 'Delayed'),
 (10272, 'On Time'),
 (10273, 'On Time'),
 (10274, 'On Time'),
 (10275, 'On Time'),
 (10276, 'On Time'),
 (10277, 'On Time'),
 (10278, 'On Time'),
 (10279, 'On Time'),
 (10280, 'Delayed'),
 (10281, 'On Time'),
 (10282, 'On Time'),
 (10283, 'On Time'),
 (10284, 'On Time'),
 (10285, 'On Time'),
 (10286, 'On Time'),
 (10287, 'On Time'),
 (10288, 'On Time'),
 (10289, 'On Time'),
 (10290, 'On Time'),
 (10291, 'On Time'),
 (10292, 'On Time'),
 (10293, 'On Time'),
 (10294, 'On Time'),
 (10295, 'On Time'),
 (10296, 'On Time'),
 (10297, 'On Time'),
 (10298, 'On Time'),
 (10299, 'On Time'),
 (10300, 'On Time'),
 (10301, 'On Time'),
 (10302, 'Delayed'),
 (10303, 'On Time'),
 (10304, 'On Time'),
 (10305, 'On Time'),
 (10306, 'On Time'),
 (10307, 'On Time'),
 (10308, 'On Time'),
 (10309, 'Delayed'),
 (10310, 'On Time'),
 (10311, 'On Time'),
 (10312, 'On Time'),
 (10313, 'On Time'),
 (10314, 'On Time'),
 (10315, 'On Time'),
 (10316, 'On Time'),
 (10317, 'On Time'),
 (10318, 'On Time'),
 (10319, 'On Time'),
 (10320, 'Delayed'),
 (10321, 'On Time'),
 (10322, 'On Time'),
 (10323, 'On Time'),
 (10324, 'On Time'),
 (10325, 'On Time'),
 (10326, 'On Time'),
 (10327, 'On Time'),
 (10328, 'On Time'),
 (10329, 'On Time'),
 (10330, 'On Time'),
 (10331, 'On Time'),
 (10332, 'On Time'),
 (10333, 'On Time'),
 (10334, 'On Time'),
 (10335, 'On Time'),
 (10336, 'On Time'),
 (10337, 'On Time'),
 (10338, 'On Time'),
 (10339, 'On Time'),
 (10340, 'On Time'),
 (10341, 'On Time'),
 (10342, 'On Time'),
 (10343, 'On Time'),
 (10344, 'On Time'),
 (10345, 'On Time'),
 (10346, 'On Time'),
 (10347, 'On Time'),
 (10348, 'On Time'),
 (10349, 'On Time'),
 (10350, 'On Time'),
 (10351, 'On Time'),
 (10352, 'On Time'),
 (10353, 'On Time'),
 (10354, 'On Time'),
 (10355, 'On Time'),
 (10356, 'On Time'),
 (10357, 'On Time'),
 (10358, 'On Time'),
 (10359, 'On Time'),
 (10360, 'On Time'),
 (10361, 'On Time'),
 (10362, 'On Time'),
 (10363, 'On Time'),
 (10364, 'On Time'),
 (10365, 'On Time'),
 (10366, 'On Time'),
 (10367, 'On Time'),
 (10368, 'On Time'),
 (10369, 'On Time'),
 (10370, 'On Time'),
 (10371, 'On Time'),
 (10372, 'On Time'),
 (10373, 'On Time'),
 (10374, 'On Time'),
 (10375, 'On Time'),
 (10376, 'On Time'),
 (10377, 'On Time'),
 (10378, 'On Time'),
 (10379, 'On Time'),
 (10380, 'Delayed'),
 (10381, 'On Time'),
 (10382, 'On Time'),
 (10383, 'On Time'),
 (10384, 'On Time'),
 (10385, 'On Time'),
 (10386, 'On Time'),
 (10387, 'On Time'),
 (10388, 'On Time'),
 (10389, 'On Time'),
 (10390, 'On Time'),
 (10391, 'On Time'),
 (10392, 'On Time'),
 (10393, 'On Time'),
 (10394, 'On Time'),
 (10395, 'On Time'),
 (10396, 'On Time'),
 (10397, 'On Time'),
 (10398, 'On Time'),
 (10399, 'On Time'),
 (10400, 'On Time'),
 (10401, 'On Time'),
 (10402, 'On Time'),
 (10403, 'On Time'),
 (10404, 'On Time'),
 (10405, 'On Time'),
 (10406, 'On Time'),
 (10407, 'On Time'),
 (10408, 'On Time'),
 (10409, 'On Time'),
 (10410, 'On Time'),
 (10411, 'On Time'),
 (10412, 'On Time'),
 (10413, 'On Time'),
 (10414, 'On Time'),
 (10415, 'On Time'),
 (10416, 'On Time'),
 (10417, 'On Time'),
 (10418, 'On Time'),
 (10419, 'On Time'),
 (10420, 'On Time'),
 (10421, 'On Time'),
 (10422, 'On Time'),
 (10423, 'Delayed'),
 (10424, 'On Time'),
 (10425, 'On Time'),
 (10426, 'On Time'),
 (10427, 'Delayed'),
 (10428, 'On Time'),
 (10429, 'On Time'),
 (10430, 'On Time'),
 (10431, 'On Time'),
 (10432, 'On Time'),
 (10433, 'Delayed'),
 (10434, 'On Time'),
 (10435, 'On Time'),
 (10436, 'On Time'),
 (10437, 'On Time'),
 (10438, 'On Time'),
 (10439, 'On Time'),
 (10440, 'On Time'),
 (10441, 'On Time'),
 (10442, 'On Time'),
 (10443, 'On Time'),
 (10444, 'On Time'),
 (10445, 'On Time'),
 (10446, 'On Time'),
 (10447, 'On Time'),
 (10448, 'On Time'),
 (10449, 'On Time'),
 (10450, 'On Time'),
 (10451, 'Delayed'),
 (10452, 'On Time'),
 (10453, 'On Time'),
 (10454, 'On Time'),
 (10455, 'On Time'),
 (10456, 'On Time'),
 (10457, 'On Time'),
 (10458, 'On Time'),
 (10459, 'On Time'),
 (10460, 'On Time'),
 (10461, 'On Time'),
 (10462, 'On Time'),
 (10463, 'On Time'),
 (10464, 'On Time'),
 (10465, 'On Time'),
 (10466, 'On Time'),
 (10467, 'On Time'),
 (10468, 'On Time'),
 (10469, 'On Time'),
 (10470, 'On Time'),
 (10471, 'On Time'),
 (10472, 'On Time'),
 (10473, 'On Time'),
 (10474, 'On Time'),
 (10475, 'On Time'),
 (10476, 'On Time'),
 (10477, 'On Time'),
 (10478, 'On Time'),
 (10479, 'On Time'),
 (10480, 'On Time'),
 (10481, 'On Time'),
 (10482, 'On Time'),
 (10483, 'Delayed'),
 (10484, 'On Time'),
 (10485, 'On Time'),
 (10486, 'On Time'),
 (10487, 'On Time'),
 (10488, 'On Time'),
 (10489, 'On Time'),
 (10490, 'On Time'),
 (10491, 'On Time'),
 (10492, 'On Time'),
 (10493, 'On Time'),
 (10494, 'On Time'),
 (10495, 'On Time'),
 (10496, 'On Time'),
 (10497, 'On Time'),
 (10498, 'On Time'),
 (10499, 'On Time'),
 (10500, 'On Time'),
 (10501, 'On Time'),
 (10502, 'On Time'),
 (10503, 'On Time'),
 (10504, 'On Time'),
 (10505, 'On Time'),
 (10506, 'On Time'),
 (10507, 'On Time'),
 (10508, 'On Time'),
 (10509, 'On Time'),
 (10510, 'On Time'),
 (10511, 'On Time'),
 (10512, 'On Time'),
 (10513, 'On Time'),
 (10514, 'On Time'),
 (10515, 'Delayed'),
 (10516, 'On Time'),
 (10517, 'On Time'),
 (10518, 'On Time'),
 (10519, 'On Time'),
 (10520, 'On Time'),
 (10521, 'On Time'),
 (10522, 'On Time'),
 (10523, 'Delayed'),
 (10524, 'On Time'),
 (10525, 'On Time'),
 (10526, 'On Time'),
 (10527, 'On Time'),
 (10528, 'On Time'),
 (10529, 'On Time'),
 (10530, 'On Time'),
 (10531, 'On Time'),
 (10532, 'On Time'),
 (10533, 'On Time'),
 (10534, 'On Time'),
 (10535, 'On Time'),
 (10536, 'On Time'),
 (10537, 'On Time'),
 (10538, 'On Time'),
 (10539, 'On Time'),
 (10540, 'On Time'),
 (10541, 'On Time'),
 (10542, 'On Time'),
 (10543, 'On Time'),
 (10544, 'On Time'),
 (10545, 'Delayed'),
 (10546, 'On Time'),
 (10547, 'On Time'),
 (10548, 'On Time'),
 (10549, 'On Time'),
 (10550, 'On Time'),
 (10551, 'On Time'),
 (10552, 'On Time'),
 (10553, 'On Time'),
 (10554, 'On Time'),
 (10555, 'On Time'),
 (10556, 'On Time'),
 (10557, 'On Time'),
 (10558, 'On Time'),
 (10559, 'On Time'),
 (10560, 'On Time'),
 (10561, 'On Time'),
 (10562, 'On Time'),
 (10563, 'On Time'),
 (10564, 'On Time'),
 (10565, 'On Time'),
 (10566, 'On Time'),
 (10567, 'On Time'),
 (10568, 'On Time'),
 (10569, 'On Time'),
 (10570, 'On Time'),
 (10571, 'On Time'),
 (10572, 'On Time'),
 (10573, 'On Time'),
 (10574, 'On Time'),
 (10575, 'On Time'),
 (10576, 'On Time'),
 (10577, 'On Time'),
 (10578, 'Delayed'),
 (10579, 'On Time'),
 (10580, 'On Time'),
 (10581, 'On Time'),
 (10582, 'On Time'),
 (10583, 'On Time'),
 (10584, 'On Time'),
 (10585, 'On Time'),
 (10586, 'On Time'),
 (10587, 'On Time'),
 (10588, 'On Time'),
 (10589, 'On Time'),
 (10590, 'On Time'),
 (10591, 'On Time'),
 (10592, 'On Time'),
 (10593, 'Delayed'),
 (10594, 'On Time'),
 (10595, 'On Time'),
 (10596, 'Delayed'),
 (10597, 'On Time'),
 (10598, 'On Time'),
 (10599, 'On Time'),
 (10600, 'On Time'),
 (10601, 'On Time'),
 (10602, 'On Time'),
 (10603, 'On Time'),
 (10604, 'On Time'),
 (10605, 'On Time'),
 (10606, 'On Time'),
 (10607, 'On Time'),
 (10608, 'On Time'),
 (10609, 'On Time'),
 (10610, 'On Time'),
 (10611, 'On Time'),
 (10612, 'On Time'),
 (10613, 'On Time'),
 (10614, 'On Time'),
 (10615, 'On Time'),
 (10616, 'On Time'),
 (10617, 'On Time'),
 (10618, 'On Time'),
 (10619, 'On Time'),
 (10620, 'On Time'),
 (10621, 'On Time'),
 (10622, 'On Time'),
 (10623, 'On Time'),
 (10624, 'On Time'),
 (10625, 'On Time'),
 (10626, 'On Time'),
 (10627, 'On Time'),
 (10628, 'On Time'),
 (10629, 'On Time'),
 (10630, 'On Time'),
 (10631, 'On Time'),
 (10632, 'On Time'),
 (10633, 'On Time'),
 (10634, 'On Time'),
 (10635, 'On Time'),
 (10636, 'On Time'),
 (10637, 'On Time'),
 (10638, 'On Time'),
 (10639, 'On Time'),
 (10640, 'On Time'),
 (10641, 'On Time'),
 (10642, 'On Time'),
 (10643, 'On Time'),
 (10644, 'On Time'),
 (10645, 'On Time'),
 (10646, 'On Time'),
 (10647, 'On Time'),
 (10648, 'On Time'),
 (10649, 'On Time'),
 (10650, 'On Time'),
 (10651, 'On Time'),
 (10652, 'On Time'),
 (10653, 'On Time'),
 (10654, 'On Time'),
 (10655, 'On Time'),
 (10656, 'On Time'),
 (10657, 'On Time'),
 (10658, 'On Time'),
 (10659, 'On Time'),
 (10660, 'Delayed'),
 (10661, 'On Time'),
 (10662, 'On Time'),
 (10663, 'Delayed'),
 (10664, 'On Time'),
 (10665, 'On Time'),
 (10666, 'On Time'),
 (10667, 'On Time'),
 (10668, 'On Time'),
 (10669, 'On Time'),
 (10670, 'On Time'),
 (10671, 'On Time'),
 (10672, 'On Time'),
 (10673, 'On Time'),
 (10674, 'On Time'),
 (10675, 'On Time'),
 (10676, 'On Time'),
 (10677, 'On Time'),
 (10678, 'On Time'),
 (10679, 'On Time'),
 (10680, 'On Time'),
 (10681, 'On Time'),
 (10682, 'On Time'),
 (10683, 'On Time'),
 (10684, 'On Time'),
 (10685, 'On Time'),
 (10686, 'On Time'),
 (10687, 'Delayed'),
 (10688, 'On Time'),
 (10689, 'On Time'),
 (10690, 'On Time'),
 (10691, 'On Time'),
 (10692, 'On Time'),
 (10693, 'On Time'),
 (10694, 'On Time'),
 (10695, 'On Time'),
 (10696, 'On Time'),
 (10697, 'On Time'),
 (10698, 'On Time'),
 (10699, 'On Time'),
 (10700, 'On Time'),
 (10701, 'On Time'),
 (10702, 'On Time'),
 (10703, 'On Time'),
 (10704, 'On Time'),
 (10705, 'Delayed'),
 (10706, 'On Time'),
 (10707, 'On Time'),
 (10708, 'On Time'),
 (10709, 'Delayed'),
 (10710, 'On Time'),
 (10711, 'On Time'),
 (10712, 'On Time'),
 (10713, 'On Time'),
 (10714, 'On Time'),
 (10715, 'On Time'),
 (10716, 'On Time'),
 (10717, 'On Time'),
 (10718, 'On Time'),
 (10719, 'On Time'),
 (10720, 'On Time'),
 (10721, 'On Time'),
 (10722, 'On Time'),
 (10723, 'On Time'),
 (10724, 'On Time'),
 (10725, 'On Time'),
 (10726, 'Delayed'),
 (10727, 'Delayed'),
 (10728, 'On Time'),
 (10729, 'On Time'),
 (10730, 'On Time'),
 (10731, 'On Time'),
 (10732, 'On Time'),
 (10733, 'On Time'),
 (10734, 'On Time'),
 (10735, 'On Time'),
 (10736, 'On Time'),
 (10737, 'On Time'),
 (10738, 'On Time'),
 (10739, 'On Time'),
 (10740, 'On Time'),
 (10741, 'On Time'),
 (10742, 'On Time'),
 (10743, 'On Time'),
 (10744, 'On Time'),
 (10745, 'On Time'),
 (10746, 'On Time'),
 (10747, 'On Time'),
 (10748, 'On Time'),
 (10749, 'Delayed'),
 (10750, 'On Time'),
 (10751, 'On Time'),
 (10752, 'On Time'),
 (10753, 'On Time'),
 (10754, 'On Time'),
 (10755, 'On Time'),
 (10756, 'On Time'),
 (10757, 'On Time'),
 (10758, 'On Time'),
 (10759, 'On Time'),
 (10760, 'On Time'),
 (10761, 'On Time'),
 (10762, 'On Time'),
 (10763, 'On Time'),
 (10764, 'On Time'),
 (10765, 'On Time'),
 (10766, 'On Time'),
 (10767, 'On Time'),
 (10768, 'On Time'),
 (10769, 'On Time'),
 (10770, 'On Time'),
 (10771, 'On Time'),
 (10772, 'On Time'),
 (10773, 'On Time'),
 (10774, 'On Time'),
 (10775, 'On Time'),
 (10776, 'On Time'),
 (10777, 'Delayed'),
 (10778, 'On Time'),
 (10779, 'Delayed'),
 (10780, 'On Time'),
 (10781, 'On Time'),
 (10782, 'On Time'),
 (10783, 'On Time'),
 (10784, 'On Time'),
 (10785, 'On Time'),
 (10786, 'On Time'),
 (10787, 'On Time'),
 (10788, 'Delayed'),
 (10789, 'On Time'),
 (10790, 'On Time'),
 (10791, 'On Time'),
 (10792, 'On Time'),
 (10793, 'On Time'),
 (10794, 'On Time'),
 (10795, 'On Time'),
 (10796, 'On Time'),
 (10797, 'On Time'),
 (10798, 'On Time'),
 (10799, 'On Time'),
 (10800, 'On Time'),
 (10801, 'On Time'),
 (10802, 'On Time'),
 (10803, 'On Time'),
 (10804, 'On Time'),
 (10805, 'On Time'),
 (10806, 'On Time'),
 (10807, 'Delayed'),
 (10808, 'On Time'),
 (10809, 'On Time'),
 (10810, 'On Time'),
 (10811, 'On Time'),
 (10812, 'On Time'),
 (10813, 'On Time'),
 (10814, 'On Time'),
 (10815, 'On Time'),
 (10816, 'Delayed'),
 (10817, 'On Time'),
 (10818, 'On Time'),
 (10819, 'On Time'),
 (10820, 'On Time'),
 (10821, 'On Time'),
 (10822, 'On Time'),
 (10823, 'On Time'),
 (10824, 'On Time'),
 (10825, 'On Time'),
 (10826, 'On Time'),
 (10827, 'Delayed'),
 (10828, 'Delayed'),
 (10829, 'On Time'),
 (10830, 'On Time'),
 (10831, 'On Time'),
 (10832, 'On Time'),
 (10833, 'On Time'),
 (10834, 'On Time'),
 (10835, 'On Time'),
 (10836, 'On Time'),
 (10837, 'On Time'),
 (10838, 'On Time'),
 (10839, 'On Time'),
 (10840, 'On Time'),
 (10841, 'On Time'),
 (10842, 'On Time'),
 (10843, 'On Time'),
 (10844, 'On Time'),
 (10845, 'On Time'),
 (10846, 'On Time'),
 (10847, 'Delayed'),
 (10848, 'On Time'),
 (10849, 'On Time'),
 (10850, 'On Time'),
 (10851, 'On Time'),
 (10852, 'On Time'),
 (10853, 'On Time'),
 (10854, 'On Time'),
 (10855, 'On Time'),
 (10856, 'On Time'),
 (10857, 'On Time'),
 (10858, 'On Time'),
 (10859, 'On Time'),
 (10860, 'On Time'),
 (10861, 'On Time'),
 (10862, 'On Time'),
 (10863, 'On Time'),
 (10864, 'On Time'),
 (10865, 'On Time'),
 (10866, 'On Time'),
 (10867, 'On Time'),
 (10868, 'On Time'),
 (10869, 'On Time'),
 (10870, 'On Time'),
 (10871, 'On Time'),
 (10872, 'On Time'),
 (10873, 'On Time'),
 (10874, 'On Time'),
 (10875, 'On Time'),
 (10876, 'On Time'),
 (10877, 'On Time'),
 (10878, 'On Time'),
 (10879, 'On Time'),
 (10880, 'On Time'),
 (10881, 'On Time'),
 (10882, 'On Time'),
 (10883, 'On Time'),
 (10884, 'On Time'),
 (10885, 'On Time'),
 (10886, 'On Time'),
 (10887, 'On Time'),
 (10888, 'On Time'),
 (10889, 'On Time'),
 (10890, 'On Time'),
 (10891, 'On Time'),
 (10892, 'On Time'),
 (10893, 'On Time'),
 (10894, 'On Time'),
 (10895, 'On Time'),
 (10896, 'On Time'),
 (10897, 'On Time'),
 (10898, 'On Time'),
 (10899, 'On Time'),
 (10900, 'On Time'),
 (10901, 'On Time'),
 (10902, 'On Time'),
 (10903, 'On Time'),
 (10904, 'On Time'),
 (10905, 'On Time'),
 (10906, 'On Time'),
 (10907, 'On Time'),
 (10908, 'On Time'),
 (10909, 'On Time'),
 (10910, 'On Time'),
 (10911, 'On Time'),
 (10912, 'On Time'),
 (10913, 'On Time'),
 (10914, 'On Time'),
 (10915, 'On Time'),
 (10916, 'On Time'),
 (10917, 'On Time'),
 (10918, 'On Time'),
 (10919, 'On Time'),
 (10920, 'On Time'),
 (10921, 'On Time'),
 (10922, 'On Time'),
 (10923, 'On Time'),
 (10924, 'Delayed'),
 (10925, 'On Time'),
 (10926, 'On Time'),
 (10927, 'Delayed'),
 (10928, 'On Time'),
 (10929, 'On Time'),
 (10930, 'On Time'),
 (10931, 'On Time'),
 (10932, 'On Time'),
 (10933, 'On Time'),
 (10934, 'On Time'),
 (10935, 'On Time'),
 (10936, 'On Time'),
 (10937, 'On Time'),
 (10938, 'On Time'),
 (10939, 'On Time'),
 (10940, 'On Time'),
 (10941, 'On Time'),
 (10942, 'On Time'),
 (10943, 'On Time'),
 (10944, 'On Time'),
 (10945, 'On Time'),
 (10946, 'On Time'),
 (10947, 'On Time'),
 (10948, 'On Time'),
 (10949, 'On Time'),
 (10950, 'On Time'),
 (10951, 'On Time'),
 (10952, 'On Time'),
 (10953, 'On Time'),
 (10954, 'On Time'),
 (10955, 'On Time'),
 (10956, 'On Time'),
 (10957, 'On Time'),
 (10958, 'On Time'),
 (10959, 'On Time'),
 (10960, 'Delayed'),
 (10961, 'On Time'),
 (10962, 'On Time'),
 (10963, 'On Time'),
 (10964, 'On Time'),
 (10965, 'On Time'),
 (10966, 'On Time'),
 (10967, 'On Time'),
 (10968, 'On Time'),
 (10969, 'On Time'),
 (10970, 'Delayed'),
 (10971, 'On Time'),
 (10972, 'On Time'),
 (10973, 'On Time'),
 (10974, 'On Time'),
 (10975, 'On Time'),
 (10976, 'On Time'),
 (10977, 'On Time'),
 (10978, 'Delayed'),
 (10979, 'On Time'),
 (10980, 'On Time'),
 (10981, 'On Time'),
 (10982, 'On Time'),
 (10983, 'On Time'),
 (10984, 'On Time'),
 (10985, 'On Time'),
 (10986, 'On Time'),
 (10987, 'On Time'),
 (10988, 'On Time'),
 (10989, 'On Time'),
 (10990, 'On Time'),
 (10991, 'On Time'),
 (10992, 'On Time'),
 (10993, 'On Time'),
 (10994, 'On Time'),
 (10995, 'On Time'),
 (10996, 'On Time'),
 (10997, 'On Time'),
 (10998, 'Delayed'),
 (10999, 'On Time'),
 (11000, 'On Time'),
 (11001, 'On Time'),
 (11002, 'On Time'),
 (11003, 'On Time'),
 (11004, 'On Time'),
 (11005, 'On Time'),
 (11006, 'On Time'),
 (11007, 'On Time'),
 (11008, 'Not Shipped'),
 (11009, 'On Time'),
 (11010, 'On Time'),
 (11011, 'On Time'),
 (11012, 'On Time'),
 (11013, 'On Time'),
 (11014, 'On Time'),
 (11015, 'On Time'),
 (11016, 'On Time'),
 (11017, 'On Time'),
 (11018, 'On Time'),
 (11019, 'Not Shipped'),
 (11020, 'On Time'),
 (11021, 'On Time'),
 (11022, 'On Time'),
 (11023, 'On Time'),
 (11024, 'On Time'),
 (11025, 'On Time'),
 (11026, 'On Time'),
 (11027, 'On Time'),
 (11028, 'On Time'),
 (11029, 'On Time'),
 (11030, 'On Time'),
 (11031, 'On Time'),
 (11032, 'On Time'),
 (11033, 'On Time'),
 (11034, 'On Time'),
 (11035, 'On Time'),
 (11036, 'On Time'),
 (11037, 'On Time'),
 (11038, 'On Time'),
 (11039, 'Not Shipped'),
 (11040, 'Not Shipped'),
 (11041, 'On Time'),
 (11042, 'On Time'),
 (11043, 'On Time'),
 (11044, 'On Time'),
 (11045, 'Not Shipped'),
 (11046, 'On Time'),
 (11047, 'On Time'),
 (11048, 'On Time'),
 (11049, 'On Time'),
 (11050, 'On Time'),
 (11051, 'Not Shipped'),
 (11052, 'On Time'),
 (11053, 'On Time'),
 (11054, 'Not Shipped'),
 (11055, 'On Time'),
 (11056, 'On Time'),
 (11057, 'On Time'),
 (11058, 'Not Shipped'),
 (11059, 'Not Shipped'),
 (11060, 'On Time'),
 (11061, 'Not Shipped'),
 (11062, 'Not Shipped'),
 (11063, 'On Time'),
 (11064, 'On Time'),
 (11065, 'Not Shipped'),
 (11066, 'On Time'),
 (11067, 'On Time'),
 (11068, 'Not Shipped'),
 (11069, 'On Time'),
 (11070, 'Not Shipped'),
 (11071, 'Not Shipped'),
 (11072, 'Not Shipped'),
 (11073, 'Not Shipped'),
 (11074, 'Not Shipped'),
 (11075, 'Not Shipped'),
 (11076, 'Not Shipped'),
 (11077, 'Not Shipped')]

### Bonus - Data Analysis

####  Top-performing employees based on the total sales amount.

In [27]:
%%sql

SELECT
      E.LastName||' '||E.FirstName as Name,
      ROUND(OD.UnitPrice * OD.Quantity, 2) as Total_sales
        
FROM Employees E
JOIN Orders O
ON E.EmployeeID = O.EmployeeID
JOIN OrderDetails OD
ON OD.OrderID = O.OrderID
GROUP BY 1
ORDER BY 2 DESC;

 * sqlite:///Northwind.db
Done.

[('Fuller Andrew', 936.0),
 ('Davolio Nancy', 760.0),
 ('Dodsworth Anne', 304.0),
 ('King Robert', 240.0),
 ('Callahan Laura', 204.0),
 ('Buchanan Steven', 168.0),
 ('Suyama Michael', 167.4),
 ('Leverling Janet', 100.8),
 ('Peacock Margaret', 77.0)]

#### Products with declining sales over the last quarter

In [28]:
%%sql

WITH previous_quarter AS
(SELECT
       P.ProductID,
       P.ProductName,
       ROUND(SUM((OD.UnitPrice * OD.Quantity)),2) as Sales
    
FROM Orders O
JOIN orderDetails OD 
ON O.OrderID = OD.OrderID
JOIN Products P 
ON P.ProductID = OD.ProductID
JOIN Categories C 
ON C.CategoryID = P.CategoryID
WHERE
     strftime('%Y', OrderDate) = '1997'
    AND strftime('%m', OrderDate) BETWEEN '10' AND '12'
GROUP BY 1,2
),

Current_quarter_sales AS
(SELECT
       P.ProductID,
       P.ProductName,
       ROUND(SUM((OD.UnitPrice * OD.Quantity)),2) as Sales
    
FROM Orders O
JOIN orderDetails OD 
ON O.OrderID = OD.OrderID
JOIN Products P 
ON P.ProductID = OD.ProductID
JOIN Categories C 
ON C.CategoryID = P.CategoryID
WHERE
     strftime('%Y', OrderDate) = '1998'
    AND strftime('%m', OrderDate) BETWEEN '01' AND '03'
GROUP BY 1,2 
)

SELECT
      PQ.ProductID,
      PQ.ProductName,
      PQ.Sales as Previous_quarter_sales,
      CQ.Sales as Current_quarter_sales,
      ROUND((CQ.Sales - PQ.Sales),2) as Difference
    
FROM previous_quarter PQ
LEFT JOIN Current_quarter_sales CQ
ON PQ.ProductID = CQ.ProductID
WHERE (CQ.Sales - PQ.Sales) < 0

 * sqlite:///Northwind.db
Done.

[(2, 'Chang', 2622.0, 2527.0, -95.0),
 (9, 'Mishi Kobe Niku', 582.0, 291.0, -291.0),
 (17, 'Alice Mutton', 7137.0, 4992.0, -2145.0),
 (19, 'Teatime Chocolate Biscuits', 901.6, 782.0, -119.6),
 (28, 'Rssle Sauerkraut', 4970.4, 2872.8, -2097.6),
 (34, 'Sasquatch Ale', 924.0, 420.0, -504.0),
 (41, "Jack's New England Clam Chowder", 1688.75, 1360.65, -328.1),
 (43, 'Ipoh Coffee', 4324.0, 4140.0, -184.0),
 (44, 'Gula Malacca', 1945.0, 778.0, -1167.0),
 (45, 'Rogede sild', 2099.5, 769.5, -1330.0),
 (47, 'Zaanse koeken', 1206.5, 1045.0, -161.5),
 (48, 'Chocolade', 306.0, 102.0, -204.0),
 (50, 'Valkoinen suklaa', 975.0, 536.25, -438.75),
 (51, 'Manjimup Dried Apples', 13409.0, 4717.0, -8692.0),
 (52, 'Filo Mix', 910.0, 735.0, -175.0),
 (53, 'Perth Pasties', 4034.4, 1771.2, -2263.2),
 (54, 'Tourtire', 998.3, 573.65, -424.65),
 (55, 'Pt chinois', 2376.0, 1656.0, -720.0),
 (56, 'Gnocchi di nonna Alice', 10070.0, 6498.0, -3572.0),
 (59, 'Raclette Courdavault', 14740.0, 10505.0, -4235.0),
 (65, 'Louisiana Fiery Hot Pepper Sauce', 4146.85, 1662.95, -2483.9),
 (69, 'Gudbrandsdalsost', 7092.0, 2484.0, -4608.0),
 (70, 'Outback Lager', 2865.0, 2685.0, -180.0),
 (71, 'Flotemysost', 3139.0, 3117.5, -21.5),
 (73, 'Rd Kaviar', 975.0, 150.0, -825.0),
 (74, 'Longlife Tofu', 550.0, 200.0, -350.0)]